GINLONG_IMAGE=ginlong-wifi-mqtt:0.2.1
GINLONG_CLIENT_ID=solis
GINLONG_LOGGER_MAC=AA1122334455
GINLONG_DISCOVERY_BROADCAST=192.0.2.255
GINLONG_POLL_HOST=192.0.2.10
GINLONG_LOGGER_SERIAL=123456789
GINLONG_POLL_INTERVAL=60
GINLONG_NODE=docker-node
